sudo tee /etc/systemd/system/llama-server.service > /dev/null <<'EOF'
[Unit]
Description=llama.cpp server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=rosurya
WorkingDirectory=/home/rosurya/llama.cpp

# If you need env vars, add them here:
# Environment="LLAMA_LOG_LEVEL=info"

ExecStart=/home/rosurya/llama.cpp/build/bin/llama-server --model /home/rosurya/models/Ministral-3-3B-Instruct-2512-Q4_K_M.gguf \
 --mmproj /home/rosurya/models/Ministral-3-3B-Instruct-2512-BF16-mmproj.gguf \
  -c 2048  --cache-type-k q4_0 --cache-type-v q4_0 --flash-attn on --batch-size 64
Restart=on-failure
RestartSec=2
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
EOF